<div class="hx-block">
    <div class="hx-header">
        <button class="btn-back">
            返回
        </button>
        <span class="title">
            带header的列表
        </span>
    </div>
    <div class="hx-content">
        <div class="hx-detail-block half">
            <header>
                提示区域
                <small >添加.hx-tips伪类即可使用</small>
            </header>
            <div class="hx-tips">
                普通的提示信息
                <br/>
                <span class="content">
                    棒棒糖，这是一种深受广大人民喜爱的糖果类食品，
                    最初是一颗硬糖插在一根小棒上，后来研发出很多更好吃好玩的品种，
                    不仅小孩子深爱棒棒糖，一些童心未泯的成年人也会吃。
                    棒棒糖的类型有凝胶型糖果，硬糖型，牛奶型糖果，巧克力型还有牛奶加水果型。
                </span>
            </div>
            <div class="hx-tips green">
                友好的提示信息
                <button class="btn-right">
                    ×
                </button>
                <span class="content">
                    如果需要在右方添加一个操作按钮，如"关闭提示信息"，可以添加一个button元素， 并标记伪类为：
                    <span class="hx-highlight">.btn-right</span>
                </span>
            </div>
            <div class="hx-tips orange">
                警告的提示信息
            </div>
            <div class="hx-tips red">
                错误的提示信息
            </div>
            <div class="hx-tips gray">
                无效的提示信息
            </div>
        </div>
    </div>
</div>
