/*
 *  HXUI 框架定义的默认标签样式
 */
@import "./variable";

/*--------------------------------------------------------------------------------------*/
/* 设置不使用默认的聚焦框
/*--------------------------------------------------------------------------------------*/
*, *:after, *:before{
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/*--------------------------------------------------------------------------------------*/
/*  对整个HTML布局和body进行设置， 使得子组件可以用%比来设置宽度
/*--------------------------------------------------------------------------------------*/
html, body{
    height: 100%;
    width: 100%;
    padding: 0;
    margin:0;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
}

div {
    overflow-scrolling: touch;
    -webkit-overflow-scrolling: touch;
}

input::-webkit-input-placeholder { /*WebKit browsers*/
    color: $color-gray-deep;
    font-weight: 300;
}
input::-moz-input-placeholder { /*Mozilla Firefox*/
    color: $color-gray-deep;
    font-weight: 300;
}
input::-ms-input-placeholder { /*Internet Explorer*/
    color: $color-gray-deep;
    font-weight: 300;
}

span {
    cursor: default;
}

/*--------------------------------------------------------------------------------------*/
/*  a标签样式
/*--------------------------------------------------------------------------------------*/
a {
    color: $color-heavy;
    text-decoration: none;
    cursor: pointer;
}
a:hover {
    color: $color-main;
    text-decoration: none!important;
}
a:active {   text-decoration: none;                      }
a:link   {   text-decoration: none;  color: purple;      }

select{
    padding: 0 10px;
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/*--------------------------------------------------------------------------------------*/
/*  button标签样式默认
/*--------------------------------------------------------------------------------------*/
button, input[type='submit'], input[type='button'], input[type='reset']{
    border: 0;
    font-size: $font-md;
    font-weight: 300;
}

/*--------------------------------------------------------------------------------------*/
/* input标签样式表单验证出错的样式
/*--------------------------------------------------------------------------------------*/
input.error, textarea.error{
    font-weight: 100!important;
    border:1px solid $color-red!important;
    color: $color-red;
    background-color: lighten($color-red, 32%)!important;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}



.hx-no-wrap {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}