/**
 * Created by LXHFIGHT on 2017/8/27 10:38.
 * Email: lxhfight51@outlook.com
 * Description:
 *    xpage 和 hx 全局变量定义的组件中的样式集合
 */

@import "./variable";

/* tooltip（悬浮提示框）用法：
   第一步：需要添加的组件的类添加 hx-tooltip-bottom
   第二步：添加aria-label属性，放入要显示的问题本内容
   注意： 1. 注意父组件是否设置overflow: hidden
         2. 适用于支持 :before和 :after CSS3样式的浏览器 （>IE8）
         3. 如果组件使用了font-icon 会被覆盖  建议在组件内容添加一个span标签承载font-icon
   Date: 2017-8-2
 */
.hx-tooltip-bottom {
  position: relative;
  &:hover {
    &:before, &:after {
      visibility: visible;
    }
  }
  &:before, &:after {
    visibility: hidden;
  }
  &:before {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    top: 100%;
    margin-top: 6px;
    left: 50%;
    @include compatible(transform, translateX(-50%));
    border-bottom: 7px solid $color-dark;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    z-index: 9999;
  }
  &:after {
    content: attr(aria-label);
    position: absolute;
    display: block;
    font: {
      size: $font-sm;
      weight: 300;
    }
    top: 100%;
    left: 50%;
    z-index: 9998;
    min-width: 150px;
    border: none;
    @include compatible(transform, translateX(-50%));
    margin-top: 12px;
    color: $color-gray-light;
    background-color: $color-dark;
    padding: $pm-sm/2 $pm-sm;
    @include borderRadius(20px);
    @include boxShadow(0 6px 12px -4px rgba(0,0,0,.4));
  }
}

/*
   模态框样式
   .hx-modal 为普通模态框
   .hx-image-modal 为图片预览模态框
   两者均需要添加 show 伪类进行展示
  */
.hx-modal, .hx-image-modal {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0, .8);
  visibility: hidden;
  opacity: .0;
  @include compatible(transition, all .4s);

  &.show{
    visibility: visible;
    opacity: 1.0;
  }

  // 模态框内容版
  .content{
    top: 15%;
    background-color: white;
    width: 60%;                                     // 默认样式为屏幕宽度 60%
    min-width: 300px;
    padding: $pm-md;
    @include centerHorizontal;
    @include borderRadius($border-radius-md);

    // 模态框头部
    header {
      line-height: $height-normal;
      height: $height-normal;
      border-left: 3px solid $color-main;
      padding-left: $pm-md;
      margin-bottom: $pm-md;
    }

    // 右上角关闭模态框按钮
    .btn-close-modal {
      position: absolute;
      top: $pm-md;
      right: $pm-md;
      height: $height-regular;
      width: $height-regular;
      font-size: 18px;
      font-weight: 200;
      padding: 0;
      color: $color-gray-deep;
      background-color: transparent;
      border: none;
      @include borderRadius($border-radius-md);
      &:hover {
        background-color: $color-red;
        color: white;
      }
    }

    // 模态框底部
    footer {
      text-align: center;
      margin-top: $pm-md;
      background-color: $color-gray-light;
      padding: $pm-md;
      @include borderRadius($border-radius-md);
      button {
        min-width: 100px;
      }
    }

    // 模态框中部内容面板
    .map {
      min-height: 400px;
      @include borderRadius($border-radius-md);
    }
    .main-textarea {
      padding: $pm-md;
      font-size: 14px;
      width: 100%;
      border: 1px solid $color-gray-light;
      @include borderRadius($border-radius-md);
      resize: none;
    }
  }

  // 缩略版模态框
  &.sm {
    .content {
      max-width: 500px;
      min-width: 300px;
    }
  }

  &.bg {
    .content {
      width: 80%;
    }
  }
}

/*
   图片预览组件模态框 及其 组件
  */
.hx-image-modal {
  text-align: center;
  // 图片样式
  img {
    max-height: 100%;
    max-width: 100%;
    @include centerInParent;
  }
  // 退出预览按钮样式
  button.btn-quit-preview {
    position: absolute;
    bottom: 5%;
    left: 50%;
    @include compatible(transform, translateX(-50%));
    @include compatible(transition, all .2s);
    height: $height-normal;
    background-color: $color-white;
    @include borderRadius(20px 20px);
    @include boxShadow(0 5px 15px rgba(0,0,0,.4));
    width: 160px;
    &:hover {
      background-color: $color-main;
      color: white;
    }
  }
  // 上下切换按钮样式
  button.btn-to-last, button.btn-to-next {
    @include centerVertical;
    color: $color-white;
    font-size: 44px;
    height: 100%;
    padding: 0 $pm-bg;
    background-color: transparent;
    @include compatible(transition, all .4s);
    text-shadow: 0 3px 8px rgba(0,0,0, .3);
    &:hover {
      background-color: rgba(255,255,255,.3);
    }
  }
  .btn-to-last {  left: 0    }
  .btn-to-next {  right: 0;  }
}

/* ----------------------------------------------------
    移动端样式适配
 ------------------------------------------------------ */
@media screen and (max-width: 640px) {
  .hx-modal, .hx-image-modal {
    z-index: 1300;
    .pad-content {
      width: 95%;
      padding: $pm-sm;
      top:  $pm-md;
      .btn-close-modal {
        right: $pm-sm;
        top: $pm-sm;
      }
      header {
        font-size: $font-md;
        height: $height-regular;
        line-height: $height-regular;
      }
      .map {
        margin-top: $pm-sm;
      }
    }
  }
  .hx-image-modal button.btn-to-last,
  .hx-image-modal button.btn-to-next {
    &:hover {
      background-color: rgba(255, 255, 255, .0);
    }
  }
}
