<div class="hx-content">
    <div class="hx-pad-left">
        <div class="hx-detail-block">
            <header>
                糖果基本信息
            </header>
            <div class="hx-row">
                <label >糖果名</label>
                <div class="content">
                    <input class="hx-input" type="text" placeholder="请输入糖果名">
                </div>
            </div>
            <div class="hx-row">
                <label >糖果种类</label>
                <div class="content">
                    <input type="text" placeholder="请输入糖果名">
                </div>
            </div>
        </div>
    </div>
    <div class="pad-right">

    </div>
</div>