<header class="hx-header">
    <button ng-click="toState('home')"
            class="btn-back">
        返回
    </button>
    <span class="title">
        表单组件
    </span>
</header>
<div class="hx-content no-footer">
    <div class="hx-pad-left">
        <div class="hx-detail-block hx-tooltip bottom"
             data-title=".hx-detail-block绘制带标题的块样式">
            <header>
                文本框组件
            </header>
            <div class="hx-row">
                <label >文本输入框</label>
                <div class="content">
                    <input type="text"
                           placeholder="请输入文本, 直接用input元素即可">
                </div>
            </div>
            <div class="hx-row">
                <label >出错文本输入框</label>
                <div class="content">
                    <input type="text"
                           class="error"
                           placeholder="在input或textarea元素添加error伪类">
                    <span class="tips show">
                        该文本框为必填项
                    </span>
                </div>
            </div>
            <div class="hx-row">
                <label >无效文本输入框</label>
                <div class="content">
                    <input type="text"
                           ng-disabled="true"
                           placeholder="当设置了disbaled属性时的input样式">
                </div>
            </div>
            <div class="hx-row">
                <label >文本域输入</label>
                <div class="content">
                    <textarea placeholder="请输入文本域"></textarea>
                </div>
            </div>
            <div class="hx-row">
                <label >无效文本域输入</label>
                <div class="content">
                    <textarea ng-disabled="true" placeholder="当设置了disbaled属性时的textarea样式"></textarea>
                </div>
            </div>
            <div class="hx-row">
                <label >透明文本输入框</label>
                <div class="content">
                    <input class="blank"
                           type="text"
                           placeholder="请输入文本，使用带有.blank的input元素">
                </div>
            </div>
            <div class="hx-row">
                <label >透明文本域输入</label>
                <div class="content">
                    <textarea class="blank"
                              placeholder="请输入文本域，使用.blank的textarea元素"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="hx-pad-right">
        <div class="hx-detail-block">
            <header>
                选择框组件
            </header>
            <div class="hx-row">
                <label>开关</label>
                <div class="content">
                    <div ng-click="event.doToggleSwitch()"
                        class="hx-switch center-vertical {{ isSwitchOn ? 'on' : ''}}"></div>
                </div>
            </div>
            <div class="hx-row">
                <label >
                    选择喜欢
                </label>
                <div class="content">
                    <button ng-click="event.toggleCheckbox($event)"
                          class="hx-checkbox selected">
                        棉花糖
                    </button>
                    <button ng-click="event.toggleCheckbox($event)"
                          class="hx-checkbox green">
                        棒棒糖
                    </button>
                    <button ng-click="event.toggleCheckbox($event)"
                          class="hx-checkbox red">
                        白兔糖
                    </button>
                    <button ng-click="event.toggleCheckbox($event)"
                          class="hx-checkbox orange">
                        跳跳糖
                    </button>
                    <button ng-click="event.toggleCheckbox($event)"
                          class="hx-checkbox golden">
                        太妃糖
                    </button>
                    <button ng-click="event.toggleCheckbox($event)"
                            disabled
                            class="hx-checkbox ">
                        不能选的糖
                    </button>
                </div>
            </div>
            <div class="hx-row">
                <label >
                    选择糖果派系
                </label>
                <div class="content">
                    <button ng-click="event.toggleRadio(1)"
                          class="hx-radio green {{ radio === 1 && 'selected' }}">
                        南派糖
                    </button>
                    <button ng-click="event.toggleRadio(2)"
                          class="hx-radio green {{ radio === 2 && 'selected' }}">
                        北派糖
                    </button>
                    <button ng-click="event.toggleRadio(3)"
                            disabled
                            class="hx-radio green">
                        不能被选择的派系
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>