<div class="hx-content">
    <div class="hx-pad-left">
        <div class="hx-detail-block hx-tooltip bottom"
             data-title=".hx-detail-block绘制带标题的块样式">
            <header>
                表单基本信息
            </header>
            <div class="hx-row">
                <label >文本输入框</label>
                <div class="content">
                    <input class="hx-input"
                           type="text"
                           placeholder="请输入文本">
                </div>
            </div>
            <div class="hx-row">
                <label >文本域输入</label>
                <div class="content">
                    <textarea placeholder="请输入文本域"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="pad-right">

    </div>
</div>