@import "mixin";

// 用于编写适用于整个项目的CSS属性变量

// 通用行高
$height-default: 60px;

// 比例
$full: 100%;
$half: 50%;

// 通用颜色标注
$color-white: #fdfdfd;
$color-white-blur: rgba(255,255,255,.8);
$color-gray-light: #f6f6f6;
$color-gray: #eaeaea;
$color-gray-deep: #bbb;
$color-heavy:   #636363;
$color-dark:    #363636;
$color-green:   #8ecc45;
$color-green-light: rgba(179,231,148,.5);
$color-golden: rgba(255, 205, 60,  1);
$color-orange:  #ff6c3f;
$color-red: #ff5a50    ;
$color-red-light: #f99090;
$color-blue-light: cornflowerblue!important;
$color-blue: #284cad!important;



// 响应式布局参数
$width-lg: 1600px;
$width-bg: 1200px;
$width-md: 992px;
$width-sm: 738px;


// 通用的字体标准
$font-sm: 13px;
$font-md: 16px;
$font-bg: 22px;
$font-lg: 26px;

// 行高标准
$line-height-sm: 22px;
$line-height-md: 26px;

// 圆角半径标准
$border-radius-md: 4px;
$border-radius-bg: 8px;



// 通用阴影标准
$shadow-md: 0 3px 6px rgba(0,0,0, .1);
$shadow-md-dark: 0 3px 6px rgba(0,0,0, .3);
$shadow-right-md: 3px 3px 6px rgba(0,0,0, .1);
