@import "./../variable";
// 全局按钮样式

// 实心按钮
.hxui-button {
  @include borderRadius($border-radius-md);
  height: $height-regular;
  padding: 0 $pm-sm;
  background-color: $color-main;
  font-size: 14px;
  color: $color-white;
  @include compatible(transition, all .4s);
  &:hover {
    background-color: $color-main-light;
  }
  &:disabled {
    background-color: $color-gray-deep!important;
  }
  &.gray  {
    background-color: darken($color-gray, 14%);
    &:hover {
      background-color: darken($color-gray, 18%);
    }
  }
  &.orange {
    background-color: $color-orange;
    &:hover{
      background-color: lighten($color-orange, 10%);
    }
  }
  &.red  {
    background-color: $color-red;
    &:hover{
      background-color: lighten($color-red, 10%);
    }
  }
  &.blue {
    background-color: $color-blue-light;
    &:hover{
      background-color: lighten($color-blue-light, 10%);
    }
  }
  &.green {
    background-color: $color-green;
    &:hover{
      background-color: lighten($color-green, 10%);
    }
  }
  &.excel {
    background-color: $color-green-excel;
    &:hover{
      background-color: lighten($color-green-excel, 10%);
    }
  }
  // 以文字形式展现的按钮
  &.plant{
    @include borderRadius($border-radius-md);
    @include compatible(transition, all .4s);
    border: none;
    background-color: transparent;
    min-height: $height-navbar - 2 * $pm-sm;
    color: $color-heavy;
    &:hover{
      background-color: $color-gray-light;
    }
    &.red{
      color: $color-red;
      &:hover{
        background-color: lighten($color-red, 30%);
      }
    }
  }
}

// 空心按钮
.hxui-button.blank{
  border: 1px solid $color-main;
  background-color: $color-white;
  color: $color-main;
  @include compatible(transition, all .4s);
  &:hover{
    color: $color-white;
    background-color: $color-main;
  }
  &.red{
    border: 1px solid $color-red;
    color: $color-red;
    &:hover{
      color: $color-white;
      background-color: $color-red;
    }
  }
  &.gray{
    border: 1px solid #aaa;
    color: #aaa;
    &:hover{
      color: $color-white;
      background-color: #aaa;
    }
  }
  &.green{
    border: 1px solid $color-green;
    color: $color-green;
    &:hover{
      color: $color-white;
      background-color: $color-green;
    }
  }
  &.golden{
    border: 1px solid $color-golden;
    color: $color-golden;
    &:hover{
      color: $color-white;
      background-color: $color-golden;
    }
  }
  &.orange{
    border: 1px solid $color-orange;
    color: $color-orange;
    &:hover{
      color: $color-white;
      background-color: $color-orange;
    }
  }
}

// 按钮尺寸
.hxui-button.sm {
  height: $height-navbar/2;
}
.hxui-button.bg {
  height: $height-normal;
}

