@import "variable";

/*--------------------------------------------------------------------------------------*/
/*  hxui-input 适用于全部文本输入框的自定义组件样式
/*--------------------------------------------------------------------------------------*/
input[type='text'].hxui-input,
input[type='email'].hxui-input,
input[type='number'].hxui-input,
input[type='url'].hxui-input,
input[type='password'].hxui-input,
input[type='date'].hxui-input,
select.hxui-input,
textarea.hxui-input{
  font-size: 15px!important;
  line-height: 25px!important;
  resize: none;
  padding: 4px !important;
  border: 1px solid #cccccc;
  -webkit-transition: all   0.3s;
  -moz-transition: all  0.3s;
  -o-transition: all    0.3s;
  transition: all .3s;
}
input[type='text'].blank,
input[type='email'].blank,
input[type='number'].blank,
input[type='url'].blank,
input[type='password'].blank,
input[type='date'].blank,
select.blank,
textarea.blank{
  border: none!important;
  @include compatible(transition, all .4s);
  &:hover{
    background-color: $color-gray-light!important;
  }
  &:focus{
    background-color: $color-gray!important;
  }
}
select.hxui-input{
  height: 34px;
  background-color: transparent;
}
.hxui-input.required{
  border:1px solid #d43039!important;

}
.hxui-input.required:focus{
  -webkit-box-shadow:  0 0 4px rgba(212,48,57,.8);
  -moz-box-shadow:  0 0 4px rgba(212,48,57,.8);
  box-shadow:  0 0 4px rgba(212,48,57,.8);
}
/*  默认样式【聚焦状态】： input中 text，email，number, date样式*/
input[type="text"].hxui-input:focus,
input[type="email"].hxui-input:focus,
input[type="number"].hxui-input:focus,
textarea.hxui-input:focus,
input[type='date'].hxui-input:focus{
  border: 1px solid $color-main;
}
/*  默认样式【聚焦状态】： input中 url样式        */
input[type="url"].hxui-input:focus, select.hxui-input:focus     {
  border:1px solid $color-main-light;
}
/*  默认样式【聚焦状态】： input中 password样式   */
input[type="password"].hxui-input:focus{
  border: 1px solid red;
}
/*  默认样式【聚焦状态】 适用于textarea标签组件      */
textarea.hxui-input:focus{  border: 1px solid darkgreen;    }



/*  默认样式【无效状态】： input组件和textarea组件无效化的样式   */
input[disabled]{
  background-color: transparent; border: none!important;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
textarea[disabled]{
  background-color: transparent;  border: 1px solid #ccc!important;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.hxui-goback-button{
  border: 2px solid darken($color-gray, 20%);
  color: darken($color-gray, 20%);
  background-color: transparent;
  font-size: 24px;
  margin-right: $pm-md;
  @include borderRadius(50%);
  height: $height-navbar - 2 * $pm-sm;
  width: $height-navbar - 2 * $pm-sm;
  &:hover{
    border: 2px solid $color-red-light;
    color: $color-red-light;
  }
}

// 头像组件
.hxui-avatar {
  height: $height-normal;
  width: $height-normal;
  @include borderRadius(50% 50%);
}
.hxui-cover-img {
  max-height: $height-upload-button;
  max-width: $width-upload-button;
  @include borderRadius($border-radius-md);
}



.hxui-checkbox{
  height: 25px!important;
  width: 25px!important;
  border: 3px solid $color-green;
  background-color: transparent;
  color: $color-white;
  @include borderRadius($border-radius-md);
  @include compatible(transition, all .4s);
  &.selected {
    background-color: $color-green;
  }
}

// xpage.js 中组件需要样式
.pad-poptip {
  position: absolute;
  padding: 0 $pm-md;
  text-align: center;
  font-size:16px;
  top: -1 * $height-navbar;
  margin: 0 auto;
  line-height: $height-navbar;
  height: $height-navbar;
  min-width: 30%;
  max-width: 60%;
  z-index: 10000;
  opacity: .0;
  color: #f2f2f2;
  @include centerHorizontal();
  @include boxShadow(0 5px 30px -2px rgba(0,0,0,.5));
  @include borderRadius($border-radius-md);
  @include compatible(transition, all .4s);
  &.success {
    background-color: $color-green;
  }
  &.warn {
    background-color: $color-orange;
  }
  &.error {
    background-color: $color-red;
  }
  &.default {
     background-color:#aaa;
  }
  &.show {
    opacity: 1.0;
    top: $pm-md;
    @include boxShadow(0 5px 20px -10px rgba(0,0,0,.8));
  }
}

// 选择日期控件样式：
.datepicker {
  z-index: 1000;
}

@media screen and (max-width: 640px){
   .pad-poptip {
     width: 95%;
     max-width: 95%;
     &.show {
      top: 8px;
     }
   }
}