@import "mixin";

// 用于编写适用于整个项目的CSS属性变量



// 导航栏行高
$height-navbar: 50px;
$width-sidebar: 200px;

$height-upload-button: 135px;
$width-upload-button: 216px;

// 比例
$full: 100%;
$half: 50%;

// 通用颜色标注
$color-main: #44b549;
$color-main-dark: darken($color-main, 35%);
$color-main-light: lighten($color-main, 3%);

$color-white: #fdfdfd;
$color-gray-light: #f8f8f8;
$color-gray: #eee;
$color-gray-deep: #bbb;
$color-heavy:   #636363;
$color-dark:    #363636;

$color-green:   #8ecc45;
$color-green-excel: #1C7243;
$color-green-light: rgba(179,231,148,.5);
$color-golden: rgba(255, 205, 60,  1);
$color-orange:  #ff6c3f;
$color-red: #ff5a50    ;
$color-red-light: #f99090;
$color-blue-light: cornflowerblue;
$color-blue: #2962ad;

.color-green{   color:   #8ecc45;                   }
.color-green-light{   color: rgba(179,231,148,.5);  }
.color-golden{   color: rgba(255, 205, 60,  1);  }
.color-orange{   color:  #ff6c3f;  }
.color-red{   color: #ff5a50    ;  }
.color-red-light{   color: #f99090;  }
.color-blue-light{   color: cornflowerblue;  }
.color-blue{   color: #2962ad;  }

// 是否隐藏
.hxui-invisible { visibility: hidden; }

// 三种居中
.hxui-center-horizontal{
  position: absolute;
  left: 50%;
  @include compatible(transform, translateX(-50%));
}
.hxui-center-parent{
  position: absolute;
  top: 50%;
  left: 50%;
  @include compatible(transform, translate(-50%, -50%));
}
.hxui-center-vertical{
  position: absolute;
  top: 50%;
  @include compatible(transform, translateY(-50%));
}



// 响应式布局参数
$width-bg-min: 1280px;
$width-md: 1024px;
$width-md-min: 100%;
$width-sm: 640px;
$width-sm-min: 100%;


// 通用的字体标准
$font-sm: 10px;
$font-md: 14px;
$font-bg: 18px;
$font-lg: 22px;

// 行高标准
$line-height-sm: 22px;
$line-height-md: 26px;

// 圆角半径标准
$border-radius-md: 4px;
$border-radius-bg: 8px;
.round {
  @include borderRadius(50% 50%);
}


// padding margin 标准
$pm-sm: 8px;
$pm-md: 16px;
$pm-bg: 24px;
$pm-lg: 32px;
.mt-nav {  margin-top: $height-navbar;    }
.ml-nav {  margin-left: $height-navbar;   }
.mr-nav {  margin-right: $height-navbar;  }
.mb-nav {  margin-bottom: $height-navbar; }
.mt-sm  {  margin-top: $pm-sm;    }
.ml-sm  {  margin-left: $pm-sm;   }
.mr-sm  {  margin-right: $pm-sm;  }
.mb-sm  {  margin-bottom: $pm-sm; }
.mt-md  {  margin-top: $pm-md;    }
.ml-md  {  margin-left: $pm-md;   }
.mr-md  {  margin-right: $pm-md;  }
.mb-md  {  margin-bottom: $pm-md; }
.mt-bg  {  margin-top: $pm-bg;    }
.ml-bg  {  margin-left: $pm-bg;   }
.mr-bg  {  margin-right: $pm-bg;  }
.mb-bg  {  margin-bottom: $pm-bg; }
.mt-lg  {  margin-top: $pm-lg;    }
.ml-lg  {  margin-left: $pm-lg;   }
.mr-lg  {  margin-right: $pm-lg;  }
.mb-lg  {  margin-bottom: $pm-lg; }
.padding-sm { padding: $pm-sm;    }
.padding-md { padding: $pm-md;    }
.padding-bg { padding: $pm-bg;    }
.padding-lg { padding: $pm-lg;    }


// 通用阴影标准
$shadow-md: 0 3px 6px rgba(0,0,0, .1);
$shadow-md-dark: 0 3px 6px rgba(0,0,0, .3);
$shadow-right-md: 3px 3px 6px rgba(0,0,0, .1);

// 浮动设置
.right { float: right; }
.left { float: left; }
