@import "mixin";

// 用于编写适用于整个项目的CSS属性变量

// 响应式相关样式 sm 表示移动设备  md 表示平板设备  bg 表示PC设备
@media screen and (max-width: 640px) {
  .hide-sm {
    display: none;
  }
}
@media screen and (max-width: 1024px) and (min-width: 640px) {
  .hide-md {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .hide-bg {
    display: none;
  }
}


// 导航栏行高
$height-navbar: 50px;
$height-normal: 40px;
$height-regular: 34px;
$width-sidebar: 180px;

$height-upload-button: 120px;
$width-upload-button: 160px;

// 比例
$full: 100%;
$half: 50%;

.width-full { width: 100%!important; }
.width-half { width: 50%!important; }

// 通用颜色标注
$color-main: #00B2EE;
$color-main-dark: darken($color-main, 36%);
$color-main-light: lighten($color-main, 3%);

$color-white: #fdfdfd;
$color-gray-light: #f8f8f8;
$color-gray: #eee;
$color-gray-deep: #bbb;
$color-heavy:   #636363;
$color-dark:    #363636;

$color-green:   #8ecc45;
$color-green-excel: #1C7243;
$color-green-light: rgba(179,231,148,.5);
$color-yellow: rgba(255, 235, 90,  1);
$color-golden: rgba(255, 205, 60,  1);
$color-orange:  #ff8d0a;
$color-red: #ff5a50    ;
$color-red-light: #f99090;
$color-pink: #ed5871;
$color-blue-light: cornflowerblue;
$color-blue: #2962ad;

.blur {
  -webkit-filter: blur(10px); /* Chrome, Opera */
  filter: blur(10px);
}

.color-main   {   color: $color-main!important;                   }
.color-green  {   color: $color-green!important;                   }
.color-golden {   color: $color-golden!important;               }
.color-orange {   color: $color-orange;               }
.color-red{   color: $color-red!important   ;  }
.color-red-light{   color: $color-red-light;  }
.color-pink {   color: $color-pink;  }
.color-blue-light{   color: cornflowerblue;  }
.color-blue{   color: $color-blue;  }
.color-gray{   color: $color-gray-deep!important;  }
.color-heavy{   color: #999!important;  }
.color-dark{   color: #464646!important;  }

.bg-green      { background-color:   #8ecc45;                }
.bg-golden     { background-color: rgba(255, 205, 60,  1);   }
.bg-orange     { background-color:  #ff6c3f;                 }
.bg-red        { background-color: #ff5a50;                  }
.bg-red-light  { background-color: #f99090;                  }
.bg-blue-light { background-color: cornflowerblue;           }
.bg-blue       { background-color: #2962ad;                  }
.bg-gray-light { background-color: $color-gray-light;        }

// 是否隐藏
.hxui-invisible { visibility: hidden; }

// 三种居中
.center-horizontal{
  position: absolute;
  left: 50%;
  @include compatible(transform, translateX(-50%));
}
.center-parent{
  position: absolute;
  top: 50%;
  left: 50%;
  @include compatible(transform, translate(-50%, -50%));
}
.center-vertical{
  position: absolute;
  top: 50%;
  @include compatible(transform, translateY(-50%));
}

// 响应式布局参数
$width-bg-min: 1280px;
$width-md: 1024px;
$width-md-min: 100%;
$width-sm: 640px;
$width-sm-min: 100%;

// 通用的字体标准
$font-sm: 10px;
$font-md: 14px;
$font-bg: 17px;
$font-lg: 22px;

// 行高标准
$line-height-sm: 22px;
$line-height-md: 26px;

// 圆角半径标准
$border-radius-md: 3px;
$border-radius-bg: 6px;
$border-radius-lg: 12px;
.round {
  @include borderRadius(50% 50%);
}   // 圆形


// padding margin 标准
$pm-sm: 8px;
$pm-md: 16px;
$pm-bg: 24px;
$pm-lg: 32px;
.mt-nav     {  margin-top: $height-navbar;    }
.ml-nav     {  margin-left: $height-navbar;   }
.mr-nav     {  margin-right: $height-navbar;  }
.mb-nav     {  margin-bottom: $height-navbar; }
.mt-null    {  margin-top: 0;       }
.ml-null    {  margin-left: 0;      }
.mr-null    {  margin-right: 0;     }
.mb-null    {  margin-bottom: 0;    }
.mt-sm      {  margin-top: $pm-sm;    }
.ml-sm      {  margin-left: $pm-sm;   }
.mr-sm      {  margin-right: $pm-sm;  }
.mb-sm      {  margin-bottom: $pm-sm; }
.mt-md      {  margin-top: $pm-md;    }
.ml-md      {  margin-left: $pm-md;   }
.mr-md      {  margin-right: $pm-md;  }
.mb-md      {  margin-bottom: $pm-md; }
.mt-bg      {  margin-top: $pm-bg;    }
.ml-bg      {  margin-left: $pm-bg;   }
.mr-bg      {  margin-right: $pm-bg;  }
.mb-bg      {  margin-bottom: $pm-bg; }
.mt-lg      {  margin-top: $pm-lg;    }
.ml-lg      {  margin-left: $pm-lg;   }
.mr-lg      {  margin-right: $pm-lg;  }
.mb-lg      {  margin-bottom: $pm-lg; }
.padding-sm { padding: $pm-sm;    }
.padding-md { padding: $pm-md;    }
.padding-bg { padding: $pm-bg;    }
.padding-lg { padding: $pm-lg;    }
.pt-null    {  padding-top: 0;       }
.pl-null    {  padding-left: 0;      }
.pr-null    {  padding-right: 0;     }
.pb-null    {  padding-bottom: 0;    }
.pt-sm      {  padding-top: $pm-sm;    }
.pl-sm      {  padding-left: $pm-sm;   }
.pr-sm      {  padding-right: $pm-sm;  }
.pb-sm      {  padding-bottom: $pm-sm; }
.pt-md      {  padding-top: $pm-md;    }
.pl-md      {  padding-left: $pm-md;   }
.pr-md      {  padding-right: $pm-md;  }
.pb-md      {  padding-bottom: $pm-md; }
.pt-bg      {  padding-top: $pm-bg;    }
.pl-bg      {  padding-left: $pm-bg;   }
.pr-bg      {  padding-right: $pm-bg;  }
.pb-bg      {  padding-bottom: $pm-bg; }
.pt-lg      {  padding-top: $pm-lg;    }
.pl-lg      {  padding-left: $pm-lg;   }
.pr-lg      {  padding-right: $pm-lg;  }
.pb-lg      {  padding-bottom: $pm-lg; }

// 通用阴影标准
$shadow-md: 0 3px 6px rgba(0,0,0, .1);
$shadow-md-dark: 0 3px 6px rgba(0,0,0, .3);
$shadow-right-md: 3px 3px 6px rgba(0,0,0, .1);

.hidden { display: none;  }
.invisible { visibility: hidden; }

// 浮动设置
.right { float: right; }
.left { float: left; }
.clear { clear:both; }
